<div>
    <h1 mat-dialog-title>Estudios</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; min-width: 300px; padding: 1rem;">

            <mat-form-field>
                <input matInput [(ngModel)]="data.instituto" type="text" placeholder="Ingrese Institucion">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="data.titulo" type="text" placeholder="Ingrese Titulo">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="data.fechaInicio" type="text" placeholder="Ingrese fecha de inicio">
            </mat-form-field>
			
			<mat-form-field>
                <input matInput [(ngModel)]="data.fechaFinal" type="text" placeholder="Ingrese fecha de finalizacion">
            </mat-form-field>
			
			<mat-form-field>
                <input matInput [(ngModel)]="data.imagen" type="text" placeholder="Ingrese link de imagen">
            </mat-form-field>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
		<button mat-button (click)="borrar(data.id)">¿Borrar?</button>
    </div>
</div>