<div class="experiencias">
	<button class="botones-crear-nuevo" mat-button (click)="nuevaExperiencia()">Nueva experiencia</button>
	<h1>Experiencias</h1>
	<br>
	<div class="item-experiencia" *ngFor="let exp of experiencia;  let i = index">
		<img class="caja-imagen" src="{{exp.imagen}}">
		<div class="caja">
			<h2 class="caja-subtitulo">{{exp.trabajo}}</h2>
			<p class="caja-detalle">{{exp.fechaInicio}} - {{exp.fechaFinal}}</p>
			<p class="caja-contenido">{{exp.puesto}}</p>
		</div>
		<img class="panel" src="./assets/img/edit.png" (click)="abrirDialogo2(i)">
	</div>
</div>