<header>
    <nav class="barra-navegacion">
		<img id="APlogo" src="./assets/img/APLogo-22.png">
        <ul>
            <li><a href="{{perfil2.redFb}}"><img id="facebook" src="./assets/img/fb.png"></a></li>
            <li><a href="{{perfil2.redTw}}"><img id="twitter" src="./assets/img/tw.png"></a></li>
            <li><a href="{{perfil2.redIg}}"><img id="instagram" src="./assets/img/instgrm.png"></a></li>
            <li><a href="{{perfil2.redGit}}"><img id="github" src="./assets/img/git.png"></a></li>
            <li><button id="login" class="button">Login</button></li>
        </ul>
    </nav>
</header>