<div class="estudios">
	<h1>Estudios</h1>
	<div class="item-estudio">
		<img class="caja-imagen" src="./assets/img/unm.png">
		<div class="caja">
			<h2 class="caja-subtitulo">Universidad Nacional de Moreno</h2>
			<p class="caja-detalle">Ingenieria en Electronica con orientacion en redes</p>
			<p class="caja-contenido">(Agosto 2021 - En curso)</p>
		</div>
	</div>
	<div class="item-estudio">
		<img class="caja-imagen" src="./assets/img/unlu.jpg">
		<div class="caja">
			<h2 class="caja-subtitulo">Universidad Nacional de Lujan</h2>
			<p class="caja-detalle">Ingenieria agronomica </p>
			<p class="caja-contenido">(Agosto 2018 - Julio 2021)</p>
		</div>
	</div>
	<div class="item-estudio">
		<img class="caja-imagen" src="./assets/img/unlu.jpg">
		<div class="caja">
			<h2 class="caja-subtitulo">Universidad Nacional de Lujan</h2>
			<p class="caja-detalle">Lic. en Sistemas de Informacion </p>
			<p class="caja-contenido">(Marzo 2012 - junio 2014)</p>
		</div>
	</div>
	<div class="item-estudio">
		<img class="caja-imagen" src="./assets/img/utn.png">
		<div class="caja">
			<h2 class="caja-subtitulo">Universidad Tecnologica Nacional</h2>
			<p class="caja-detalle">Ingenieria Electrica </p>
			<p class="caja-contenido">(Marzo 2010 - Octubre 2011)</p>
		</div>
	</div>
</div>