<div class="proyectos">
	<h1>Proyectos</h1>
	<ul class="item-proyecto">
		<li id="proyeto1">
			<img src="./assets/img/proyecto1.png" alt="">
			<div id="info-proyecto1" class="descripcion-proyecto">
				<h2>Codificador</h2>
				<p>Proyecto #1 de Alura</p>
				<a href="https://github.com/C14F4/c14f4.github.io" class="boton">GitHub</a>
				<a href="https://c14f4.github.io/" class="boton">Demo</a>
			</div>
		</li>
		<img class="panel" src="./assets/img/edit.png" >
		<li id="proyecto2">
			<img src="./assets/img/proyecto2.png" alt="">
			<div id="info-proyecto2" class="descripcion-proyecto">
				<h2>Juego del Ahorcado</h2>
				<p>Proyecto #2 de Alura</p>
				<a href="https://github.com/C14F4/c14f4.github.io/tree/main/ahorcado" class="boton">GitHub</a>
				<a href="https://c14f4.github.io/ahorcado/" class="boton">Demo</a>
			</div>
		</li>
		<img class="panel" src="./assets/img/edit.png">
	</ul>
	
</div>