<div class="proyectos">
	<button class="botones-crear-nuevo" mat-button (click)="nuevoProyecto()">Nuevo proyecto</button>
	<h1>Proyectos</h1>
	<br>
	<ul class="item-proyecto">
		<div *ngFor="let pro of proyecto; let i = index">
			<li id="proyeto1">
				<img src="{{pro.imagen}}" alt="">
				<div id="info-proyecto1" class="descripcion-proyecto">
					<h2>{{pro.nombre}}</h2>
					<p>{{pro.descripcion}}</p>
					<a href="{{pro.linkGit}}" class="boton">GitHub</a>
					<a href="{{pro.linkDemo}}" class="boton">Demo</a>
				</div>
			</li>
			<img class="panel" src="./assets/img/edit.png" (click)="abrirDialogo4(i)" >
		</div>
	</ul>
	
</div>