<div class="skill">
	<h1>Skill</h1>
	<ul class="contenedor-skill">
		<li class="item-skill">
			<img src="./assets/img/icons8-html-5-100.png" alt="html" class="img-skill">
			<p>HTML</p>
			<progress  max="100" value="50"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-css3-100.png" alt="css3" class="img-skill">
			<p>CSS3</p>
			<progress  max="100" value="40"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-javascript-100.png" alt="js" class="img-skill">
			<p>JavaScript</p>
			<progress  max="100" value="60"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-c-programming-100.png" alt="c" class="img-skill">
			<p>C</p>
			<progress  max="100" value="60"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-arduino-100.png" alt="Arduino" class="img-skill">
			<p>ARDUINO</p>
			<progress  max="100" value="50"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-python-100.png" alt="Python" class="img-skill">
			<p>Python</p>
			<progress  max="100" value="70"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-autodesk-autocad-100.png" alt="AutoCAD" class="img-skill">
			<p>AutoCAD</p>
			<progress  max="100" value="80"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-typescript-100.png" alt="AutoCAD" class="img-skill">
			<p>TypeScript</p>
			<progress  max="100" value="40"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-angularjs-100.png" alt="AutoCAD" class="img-skill">
			<p>Angular</p>
			<progress  max="100" value="40"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-logo-de-mysql-100.png" alt="AutoCAD" class="img-skill">
			<p>SQL</p>
			<progress  max="100" value="50"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-git-100.png" alt="AutoCAD" class="img-skill">
			<p>GIT</p>
			<progress  max="100" value="40"></progress>
		</li>
		<li class="item-skill">
			<img src="./assets/img/icons8-logotipo-de-java-coffee-cup-100.png" alt="Java" class="img-skill">
			<p>Java</p>
			<progress  max="100" value="50"></progress>
		</li>
	</ul>
</div>